<div class="jumbotron center-block">
  <h3>Your Beautiful New Url:</h3>
  <p>
    <a href="<%= @user_last_url.small_url %>" target="_blank"> 
      <%= root_url %><%= @user_last_url.small_url %></a>
  </p>

</div>
