<div>

  <h1>Shorten your URL!</h1>
  <div>
    <div>
      <p>Paste in your long URL and we will give you a short one you can use! </p>
    </div>
  </div>

  <div>
    <div>
      <%= form_for(@new_url, url: shortener_path) do |f|%>
        <div>
          <%= f.hidden_field :small_url, :value => UrlShortener.new.url %>
          <%= f.text_field (:original_url) %>
        </div>
        <%= button_tag(type: 'submit') do %>
        Shorten your URL!
        <% end %>
      <% end %>
    </div>
  </div>

</div>
